*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}
.container{
    max-width: 800px;
    height: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
